*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 100%;
}
main{
    flex:1;
    margin-top:var(--header-height);

}
