:root{
    --header-height:75px;
    --header-color:#393e46;
    --header-details-color:#5c6470;
}

header{
    background-color: var(--header-color);
    height: var(--header-height);
    position:fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 999;
    max-width: 100vw;
}

header #logo{
    position: relative;
    height:var(--header-height);
    width: auto;
    padding: 10px;
    max-height: 75px;

}
header #searchbar-wrapper{
    flex:1;
    margin:0px 100px;
}
header #searchbar-wrapper form{
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
}

header #searchbar-wrapper form input[type=text]{
    flex: 1;
}

header #searchbar-wrapper form input,
header #searchbar-wrapper form select{
    border: 1px solid lightgray;
    border-radius: 0px;
    height: 40px;
}

header #header-items-wrapper{
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    margin: 0px 20px;
}

header #header-items-wrapper .item img{
    height: calc(0.5 * var(--header-height));
    max-height: 40px;
    width: auto;
}

header #header-items-wrapper .item .details{
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
    transform: translate(-90%, 0);
    position: absolute;
    height: auto;
    padding: 10px;
    background-color: var(--header-details-color);
    color: white;
    box-shadow: black 0px 0px 5px;
    width: 400px;
    flex-direction: column;
}

header #header-items-wrapper .item:hover > .details{
    display: flex;
}


header #header-items-wrapper .item .details .user-details{
    color: lightgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header #header-items-wrapper .item .details a {
    padding: 10px 30px;
    background-color: white;
    text-decoration: none;
    letter-spacing: 5px;    
    box-shadow: black 0px 5px 2px;
    margin: 10px;
    transform: 0.2s;
    text-align: center;
}

header #header-items-wrapper .item .details a:active{
    transform: translate(0, 5px);
    box-shadow: black 0px 0px 2px;
}

@media (max-width: 1000px){
    header #searchbar-wrapper{
        margin: 0;
    }
}

@media (max-width: 600px){
    header{
        flex-wrap: wrap;
    }
    header #searchbar-wrapper{
        order: 3;
        min-width: 100vw !important; 
    }
    :root{
        --header-height:125px;
    }
    header #header-items-wrapper{
        flex: 1;
        justify-content: end;
        min-width: 0px;
    }
    header #header-items-wrapper .item .details{
        width: 100vw;
        transform: none;
        left: 0;
    }
}

@media (max-width: 400px){
    :root{
        --header-height:165px;
    }
    header form input[type=text]{
        width: 100vw !important;
    }
    header form{
        flex-wrap: wrap;
    }
    header form *{
        flex: 1;
    }
    header #header-items-wrapper .item .details a{
        padding: 10px;
        letter-spacing: 1px;
    }
}