main{
    margin: calc(var(--header-height) + 1%) 10%;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: lightgray 5px 5px 5px, lightgray -5px 5px 5px;
}

main .items .item{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    box-shadow: lightgray 5px 5px 5px, lightgray -5px 5px 5px;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: black;
}
main .items .item .product-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    min-width: 150px;
    text-align: center;
}

main .items .item > *{
    padding: 5px;
    margin: 0px 10px;
}

main .data{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

main .data .card{
    margin:10px;
    border: 1px solid lightgray;
    box-shadow: lightgray 5px 5px 5px, lightgray -5px 5px 5px;
    width: fit-content;
    padding: 30px;
    overflow:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main form{
    border: 1px solid lightgray;
    box-shadow: lightgray 5px 5px 5px, lightgray -5px 5px 5px;
    width: fit-content;
    padding: 30px;
    margin:auto;
}

main form input[type=submit]{
    border: 1px solid lightgray;
    box-shadow: lightgray 5px 5px 5px, lightgray -5px 5px 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    min-width: 100px;
}

main form input[type=submit]:hover{
   background-color: rgb(229, 227, 227);
   transform: scale(1.1);
}

@media screen and (max-width:600px) {
    main{
        margin: calc(var(--header-height) + 1%) 1%;
        padding: 5px;
    }
    main form input[type=submit]{
        padding: 5px;
        font-size: 16px;
    }
    main form{
        padding: 0px
    }
    main .data .card{
        margin:0px;
        padding: 10px;
    }
}